<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/head :: navbar"></div>

<div class="container">
    <form th:action="@{/admin/new-post}" th:object="${post}" method="post">
        <div class="form-group">
            <label for="post-title">Post Title</label>
            <input class="form-control" id="post-title" name="title" type="text" placeholder="New Post Title">
        </div>

        <div class="form-group">
            <label for="post-body">Article Content</label>
            <div class="min-vh-50">
                <textarea id="post-body" class="tinymce d-none" name="body"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="post-publish">Publish Post</label>
            <input id="post-publish" type="checkbox" th:checked="true" th:field="*{published}" name="published" data-toggle="tooltip" data-placement="top" title="Check if article is ready to published publicly. If still working, leave unchecked and the it will be saved as a draft.">
        </div>

        <input class="btn btn-falcon-primary btn-lg" type="submit" value="Create">
        <a class="btn btn-falcon-danger btn-lg" th:href="@{/admin/all-posts}">Discard</a>

    </form>
</div>


<div th:replace="fragments/head :: javascripts"></div>
</body>
</html>