<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Rustic Rides Garage</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="../../assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <style>
        body {
            display: none;
        }
    </style>
    <link class="style" th:href="@{/css/theme.css}" rel="stylesheet" id="theme-style">
    <link class="style" th:href="@{/css/theme-dark.css}" rel="stylesheet" id="theme-style-dark">
    <link class="style" th:href="@{/css/theme-rtl.css}" rel="stylesheet" id="theme-style-rtl">
    <link class="style" th:href="@{/css/theme-dark-rtl.css}" rel="stylesheet" id="theme-style-dark-rtl">

</head>
<body>

<!-- ===============================================-->
<!--    Navbars -->
<!-- ===============================================-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fs--1" th:fragment="navbar">
    <a class="navbar-brand" href="#">Rustic Rides Garage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent1" aria-controls="navbarContent1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent1" sec:authorize="isAuthenticated()">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#" th:href="@{/admin/dashboard}">Dashboard</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarBlogDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
                <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarBlogDropdown">
                    <div class="bg-white rounded-soft py-2">
                        <a class="dropdown-item" href="#" th:href="@{/admin/new-post}">+ New Article</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{/admin/all-posts}">Manage Articles</a>
                        <a class="dropdown-item" href="#">View Current Drafts</a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarStoreDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Store</a>
                <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarStoreDropdown">
                    <div class="bg-white rounded-soft py-2">
                        <a class="dropdown-item" href="#" >Manage Products</a>
                        <a class="dropdown-item" href="#">Manage Orders</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="btn btn-falcon-primary" href="#" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</nav>




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:fragment="javascripts">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="../static/assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="../static/assets/lib/is_js/is.min.js"></script>
    <script src="../static/assets/lib/lodash/lodash.min.js"></script>
    <script src="../static/assets/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../static/assets/lib/chart.js/Chart.min.js"></script>
    <script src="../static/assets/lib/echarts/echarts.min.js"></script>
    <script src="../static/assets/lib/echarts/world.js"></script>
    <script src="../static/assets/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../static/assets/lib/datatables-bs4/dataTables.bootstrap4.min.js"></script>
    <script src="../static/assets/lib/datatables.net-responsive/dataTables.responsive.js"></script>
    <script src="../static/assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
    <script th:src="@{/lib/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/lib/typed.js/typed.js}"></script>
    <script src="../static/assets/lib/@fortawesome/all.min.js"></script>
</div>
</body>
</html>